*{
    margin: 0;
   padding: 0;
}
.heading{
    font-size: 90px;
    color:#380dd4ec;
}
.heading h1 {
 text-align: left;
 margin-left: -350px;
} 

.header{
    min-height: 100vh;
    width: 100%;
    margin-top: 10px;
    background-image: url("https://i.pinimg.com/originals/2c/7c/89/2c7c89fad00bb1a95ed4a553588f4fad.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
li{
    float: right;
    list-style-type: none;
}
ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
}
li a {
    display: block;
    padding: 8px;
  }
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
 width:#fff;
 top: 50%;
left: 50%;
justify-content:center;
text-align: center;
}
.text-box h1{
    font-size: 62px;
    color:#181616;
    position: relative;
    top: 50%;
  }
  .text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
  }
  .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }
  .hero-btn:hover{
    border:1px solid #f44336;
    background:#f44336;
    transform: 1s;
  }
  .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #dddddd;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.campus{
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 150px;
   display: block;
}
.campus-col{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: center;
    overflow: hidden;

}
.facilities{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(https://tse4.mm.bing.net/th?id=OIP.-ZT_6rgYKUF61SQjPeL6iQHaC7&pid=Api&P=0.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.footer{
    width: 100;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons fa{
    color: red;
    margin: 0 13px;
    cursor: pointer;
    padding: 20px ;
}
.fa-facebook{
background: #3B5998;
color: #f44336;
}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://wallpapercave.com/wp/wp4385865.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    colour: #fff;
}
.sub-header h1{
    margin-top: 5px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
color: #fff;
}
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    colour: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336
    color:#fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
color: #555;
padding: 8px;
box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
margin: 15px 0;
box-sizing: border-box;
border: none;
outline: none;
background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
.location{
    width: 80px;
    margin-top: auto;
    padding: 80px 0;
}
.location iframe{
    width: 1000%;
}
.contact-us{
width: 80%;
margin: auto;
text-align: left;
border: 1px;
}
.contact-us h4 p{
text-align: left;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    text-align: left;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}